@charset "UTF-8";
/* CSS Document */

body {
	/*background:url(../images/bg.png) repeat-x;
	background-color:#f0f0f0;*/
	background:url(../images/bg2.png) repeat-x;
	background-color:#bdc6c7;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	text-shadow:#fcfcfc 1px 1px;
	color:#a6a6a6;
}

/* helpers */

.green {
	font-weight:bold;
	color:#1ad823;
	text-decoration:underline;
	font-size:13px;
	margin-bottom:10px;
}

.red {
	font-weight:bold;
	color:#e41923;
	font-size:14px;
	margin-bottom:10px;
}

.no {
	width:27px;
	height:27px;
	background:url(../images/no.png);
	float:none;
	position:relative;
	left:5px;
}

.yes {
	width:27px;
	height:27px;
	background:url(../images/yes.png);
	float:none;
	position:relative;
	left:5px;
}

h1 {
	font-size:18px;
	color:#28bad4;
	text-shadow:#fcfcfc 1px 1px;
	margin:0px;
}

h2 {
	font-size:16px;
	color:#b2b2b2;
	text-shadow:none;
	margin:0px;
}

h3 {
	/* Für den NAVI-Button */
	font-sisze:14px;
	color:#767676;
	text-shadow:#f9f9f9 1px 1px;
}

h4 {
	/* Anmeldestatus-Box */
	font-size:16px;
	color:#28bad4;
	text-shadow:#fcfcfc 1px 1px;
	margin:0px;
}

h5 {
	font-size:16px;
	color:#d1d1d1;
	text-shadow:ffffff 1px 1px;
	margin:0px;
}

p { 
    /* margin:0px; */
    margin-bottom:10px;
    padding-bottom:0px;
}

a {
	color:#5fcbde;
	font-weight:bold;
}

a:hover {
	color:#f62a93;
}

.line {
	width:auto;
	height:2px;
	background:url(../images/line.png);
	float:none;
	margin:13px 0 10px 0;
}

.logo {
	background:url(../images/logo.png) no-repeat;
	float:left;
	width:286px;
	height:87px;
	display:block;
}

.logo:hover {
	background:url(../images/logo_hover.png) no-repeat;
	float:left;
	width:286px;
	height:87px;
	display:block;
}

.logo01 {
	background:url(../images/logo_01.png) no-repeat;
	float:left;
	width:16px;
	height:87px;
}

.logo01:hover {
	background:url(../images/logo_01_hover.png) no-repeat;
	float:left;
	width:16px;
	height:87px;
}

.logo02 {
	background:url(../images/logo_02.png) no-repeat;
	float:left;
	width:10px;
	height:87px;
}

.logo02:hover {
	background:url(../images/logo_02_hover.png) no-repeat;
	float:left;
	width:10px;
	height:87px;
}

.logo03 {
	background:url(../images/logo_03.png) no-repeat;
	float:left;
	width:11px;
	height:87px;
}

.logo03:hover {
	background:url(../images/logo_03_hover.png) no-repeat;
	float:left;
	width:11px;
	height:87px;
}

.logo04 {
	background:url(../images/logo_04.png) no-repeat;
	float:left;
	width:14px;
	height:87px;
}

.logo04:hover {
	background:url(../images/logo_04_hover.png) no-repeat;
	float:left;
	width:14px;
	height:87px;
}

.logo05 {
	background:url(../images/logo_05.png) no-repeat;
	float:left;
	width:16px;
	height:87px;
}

.logo05:hover {
	background:url(../images/logo_05_hover.png) no-repeat;
	float:left;
	width:16px;
	height:87px;
}

.header {
	width:100%;
	height:35px;
	/* background:url(../images/bg_header.png) repeat-x; */
	background-color:#444544;
	float:none;
}

.footer {
	width:100%;
	height:70px;
	/* background:url(../images/bg_footer.png) repeat-x; */
	background-color:#444544;
	float:none;
	clear:both;
	text-shadow:none;
	color:#979797;
	position: absolute;
	bottom:0px;
}

.bottom {/*
	width:519px;
	height:215px;
	margin:auto;
	overflow:hidden !important;
	position:absolute;
	bottom:0px;*/
}

.content {
	width:842px;
	height:auto;
	overflow:auto;
	margin:auto;
	float:none;
	clear:both;
}

.content_header {
	height:auto;
	overflow:auto;
	margin-bottom:0px;
	display:block;
	margin-top:20px;
}

.content_main {
	height:auto;
	overflow:auto;
	margin-bottom:130px;
}

.blue_button {
	background:url(../images/blue_button.png) no-repeat;
	float:none;
	width:85px;
	height:37px;
	border:none;
	display:block;
	font-size:14px;
	color:#e6f8fb;
	text-shadow:#0086a0 1px 1px;
	float:right;
	font-weight:bold;
}

.blue_button:hover {
	background:url(../images/blue_button_hover.png) no-repeat;
	display:block;
	text-shadow:#8a1389 1px 1px;
	font-weight:bold;
}

.small_button {
	background:url(../images/small_button.png) no-repeat;
	float:none;
	width:76px;
	height:32px;
	border:none;
	display:block;
	font-size:14px;
	color:#e6f8fb;
	text-shadow:#0086a0 1px 1px;
	float:right;
}

.small_button:hover {
	background:url(../images/small_button_hover.png) no-repeat;
	display:block;
}


.grey_button {
	background:url(../images/grey_button.png) no-repeat;
	float:none;
	width:220px;
	height:32px;
	border:none;
	display:block;
	font-size:14px;
	color:#767676;
	text-shadow:#f9f9f9 1px 1px;
	float:none;
	text-decoration:none;
	font-weight:normal;
	padding:8px 10px;
}

.grey_button:hover {
	background:url(../images/grey_button_hover.png) no-repeat;
	color:#28bad4;
	text-shadow:#e9e9e9 1px 1px;
	text-decoration:underline;
}

.edit_button {
	background:url(../images/edit_button.png) no-repeat;
	float:none;
	width:50px;
	height:21px;
	border:none;
	display:block;
	float:none;
}

.edit_button:hover {
	background:url(../images/edit_button_hover.png) no-repeat;
}

.box {
	float:left;
	width:auto;
	height:auto;
	overflow:auto;
}

.box_content {
	width:auto;
	height:auto;
	overflow:auto;
	padding:10px 27px 10px 20px;
}

.admin_login {
	text-align:right;
	width:auto;
	height:auto;
	overflow:auto;	
	margin:7px 10px 32px 0;
	color:#666666;
	font-size:13px;
	text-shadow:#777777 1px 1px;
}

.admin_login a {
	font-weight:bold;
	text-decoration:underline;
	color:#adadad;
	text-shadow:#ffffff 1px 1px;
}

.admin_login a:hover {
	font-weight:bold;
	font-style:italic;
	text-decoration:none;
	color:#adadad;
	text-shadow:#ffffff 1px 1px;
}

.searchfield {
	background:url(../images/searchfield.png) no-repeat;
	width:161px;
	height:20px;
}

.login_status_box {
	background:url(../images/login_status_box.png) no-repeat;
	float:right;
	width:235px;
	height:74px;
	padding:12px 23px 15px 15px;
	overflow:none;
	
}

.login_status_header {
	height:auto;
	width:auto;
	overflow:auto;
}
.loginstatus {
	font-size:12px;
	float:left;
}

.logout {
	font-size:12px;
	text-shadow:#fcfcfc 1px 1px;
	color:#a6a6a6;
	font-weight:bold;
}

.logout:hover {
	color:#808080;
}

.login_icon_admin {
	background:url(../images/login_icon_admin.png) no-repeat;
	float:right;
	width:60px;
	height:20px;
}

.login_icon_auth {
	background:url(../images/login_icon_auth.png) no-repeat;
	float:right;
	width:60px;
	height:20px;
}

.login_icon {
	background:url(../images/login_icon.png) no-repeat;
	float:right;
	width:60px;
	height:20px;
}

.small_box_top {
	background:url(../images/small_box_top.png) no-repeat;
	float:none;
	width:275px;
	height:12px;
}

.small_box_center {
	background:url(../images/small_box_center.png) repeat-y;
	float:none;
	width:275px;
	height:auto;
	overflow:auto;
	line-height: 180%;
}

.small_box_center h1 {
	margin-top:-4px;	
}

.small_box_bottom {
	background:url(../images/small_box_bottom.png) no-repeat;
	float:none;
	width:275px;
	height:15px;
}

.big_box_top {
	background:url(../images/big_box_top.png) no-repeat;
	float:none;
	width:567px;
	height:12px;
}

.big_box_center {
	background:url(../images/big_box_center.png) repeat-y;
	float:none;
	width:567px;
	height:auto;
	overflow:auto;
	line-height: 180%;
}

.big_box_center h1 {
	margin-top:-4px;	
}


.big_box_bottom {
	background:url(../images/big_box_bottom.png) no-repeat;
	float:none;
	width:567px;
	height:15px;
}

.scrollbox {
	overflow:auto;
	height:auto;
	width:100%;
	overflow-x:hidden;
	/*padding: 0 10px 0 0;
	margin-bottom:50px;*/
}

.formfield {
	width:auto;
	height:30px;
	float:none;
	overflow:auto;
	margin-top:5px;
	margin-bottom:10px;
}

.formlabel {
	width:100px;
	height:30px;
	float:left;
	overflow:auto;
	margin-top:5px;
	margin-bottom:10px;
}

.formfield_left {
	background:url(../images/formfield_left.png) no-repeat;
	float:left;
	width:6px;
	height:30px;
}

.formfield_center {
	background:url(../images/formfield_center.png) repeat-x;
	float:left;
	width:210px;
	height:28px;
	border:none;
	display:block;
	font-size:13px;
	font-style:italic;
	color:#bfbfbf;
	overflow:none;
}

.formfield_right {
	background:url(../images/formfield_right.png) no-repeat;
	float:left;
	width:5px;
	height:30px;
}

.social_media {
	background:url(../images/social.png) no-repeat;
	float:none;
	width:237px;
	height:111px;
}

.facebook {
	float:none;
	width:28px;
	height:26px;
	display:block;
	z-index:5;
	position:relative;
	left:24px;
	top:55px;
}

.test {
	background:url(../images/test.png) no-repeat;
	float:none;
	width:243px;
	height:160px;
	display:block;
	z-index:5;
	margin:auto;
}

.schild {
	background:url(../images/schild.png) no-repeat;
	float:none;
	width:134px;
	height:160px;
	display:block;
	z-index:5;
	margin:auto;
}

.facebook:hover {
	background:url(../images/facebook_over.png) no-repeat;
}

.addStudent_table {
}

.disclaimer {
	text-align:center;
	margin:auto;
	width:200px;
	height:auto;
}